<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyA1cBJxMfck9SSbo0N5aM0xexSgi6_JtFg&sensor=true">
    </script>
	<link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css')}}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
    <!-- // <script type="text/javascript">
    //   function initialize() {
    //     var mapOptions = {
    //       center: new google.maps.LatLng(-34.397, 150.644),
    //       zoom: 8
    //     };
    //     var map = new google.maps.Map(document.getElementById("map-canvas"),
    //         mapOptions);
    //   }
    //   google.maps.event.addDomListener(window, 'load', initialize);
    // </script> -->
	<script type="text/javascript" src="../static/realtime_map.js"></script>
  </head>
  <body>
	<div class="buttons" id="buttons">
	</div>
    <div id="map-canvas" class="map-canvas"/>
  </body>
</html>